body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
}

#form-inputs {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    text-align: end;
    gap: 10px;
}

#form-inputs input,
#form-inputs select {
    box-sizing: border-box;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

#error {
    color: #ff0000;
    text-align: start;
    grid-column: 2;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin: 0;
}

#buttons {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

#buttons #limpar-extrato {
    grid-column: 1 / span 2;
}

button {
    cursor: pointer;
    padding: 3px;
    transition: .2s;
    border-radius: 15px;
    border-style: solid;
    border-color: #777;
    background-color: #eee;
}
button:hover {
    border-color: #111;
    background-color: #ccc;
}

table {
    margin-top: 25px;
    border-collapse: collapse;
}

caption {
    background-color: #777;
    border: 2px solid #000;
    border-bottom: none;
    padding: 5px 0;
}

thead tr {
    background-color: #aaa;
}

tbody tr:hover {
    background-color: #ddd;
}

td {
    text-align: center;
    width: 125px;
    padding: 5px 0;
    border: 2px solid #000;
}

#resumo {
    position: relative;
    box-sizing: border-box;
    min-width: 250px;
    padding: 5px 15px 10px 20px;
    background-color: #eee;
    border: 1px solid #000;
}

#resumo h2 {
    text-align: center;
}

.valor {
    color: #ff0000;
}

#ponta-papel {
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    top: -1px;
    right: -1px;
    box-shadow: -5px 5px 5px #aaa;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    background: linear-gradient(45deg, #eee 49%, #000 50%, #fff 51%);
}