body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.topico-titulo, .subtopico-titulo {
    font-weight: bold;
}
.topico-titulo {
    font-size: 20px;
    color: #0d0dff;
    text-decoration: underline;
}
ol li {
    margin-top: 5px;
}
ul {
    list-style: disc;
}