body {
    display: flex;
    justify-content: space-between;
}
#divisor {
    position: fixed;
    height: 100%;
    width: 5px;
    top: 0;
    background-color: #969696;
    box-shadow: 2px 2px 5px #4e4e4e;
}
aside article, aside img {
    margin-left: 2vw;
}
label {
    display: block;
}
.checkbox-area label, .radio-area label{
    display: inline;
}