body {
    display: flex;
    justify-content: space-between;
}
aside {
    width: 45vw;
    padding: 38px 30px 0 30px;
    border-left: 5px groove #969696;
}
aside article, aside img {
    margin-left: 2vw;
}
label {
    display: block;
}
.checkbox-area label, .radio-area label{
    display: inline;
}