body {
    background-color: #c7c7c7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {
    color: #4b4b4b;
}
.media {
    position: absolute;
    top: 2vw;
    right: 1vw;
    width: 300px;
}
.media img, .media video, .media audio {
    width: 300px;
}
.media img {
    margin-bottom: 50px;
}